body{
margin:0;
font-family: Arial;
overflow-x: hidden; 
}


.menu{
background:#2f3640;
color:white;
padding:20px;
overflow:hidden;
}

.logo{
float:left;
margin:0;
margin-left:30px;
}

.navegacion{
float:right;
margin:0;
margin-right:40px;
}

.navegacion li{
float:left;
margin-left:20px;
font-size:16px;
cursor:pointer;
list-style: none;
}

.navegacion a{
color:white;
text-decoration:none;
}

.principal{
background:#fffcfc;
padding:20px 120px;
overflow:hidden;
line-height:1.5;
}

.imagen{
width:40%;
float:left;
margin:0;
padding-top:60px;
}

.imagen img{
width:100%;
}

.texto{
width:55%;
float:right;
margin:0;
padding-top:40px; 
}

.texto h1{
color:#F54927;
font-size:50px;
margin:0 0 20px 0;
}

.texto p{
margin-bottom:20px;
line-height:1.5;
}

.texto button{
background:#F54927;
color:white;
border:none;
padding:10px 20px;
border-radius:7px;
font-size:20px;
}

.sobre-mi{
background:#F54927;
color:white;
text-align:center;
padding:20px 80px;
font-size: 26px;
}

.foto{
width:220px;
border-radius:50%;
}


.proyectos{
text-align:center;
padding:20px 0; 
background:#fffdfd;
}

.proyectos h1{
color:#6B6969;
margin:10px 0; 
font-size:40px; 
}

.contenedor-proyectos{
width:90%;
margin:auto;
overflow:hidden;
}


.tarjeta{
width:23%;
float:left;
margin:1%;
background:white;
border:1px solid #ccc;
text-align:center;
box-sizing:border-box;
height:430px; 
position: relative;
padding-bottom:60px; 
border-radius: 6px;
}


.img-card{
width:100%;
height:180px;
overflow:hidden;
}


.img-card img{
width:100%;
height:100%;
object-fit:cover;
}


.tarjeta p{
font-size:14px;
color:#6B6969;
padding:0 10px;
}

.tarjeta button{
background:#F54927;
color:white;
border:none;
padding:10px 15px;
position:absolute;
bottom:15px;
left:50%;
transform:translateX(-50%);
}

.footer{
background:#2f3640;
color:white;
text-align:right;
padding:20px;
padding-right: 90px;
margin-top:10px;
width:100%;
box-sizing:border-box;
}

@media (max-width: 1038px){

    .tarjeta{
        width:31%;   
        margin:1%;
        float:left;
    }

}

@media (max-width: 800px){

    .tarjeta{
        width:48%;  
        margin:1%;
        float:left;
    }

}

@media (max-width: 588px){

.logo{
float:none;
text-align:center;
margin:0;
}

.navegacion{
float:none;
text-align:center;
margin:10px 0 0 0;
}

.navegacion li{
float:none;
display:block;
margin:10px 0;
}


.principal{
padding:20px 0px;
}

.imagen,
.texto{
float:none;
width:100%;
margin:0;
padding-top:20px;
text-align:center;
}

.texto h1{
font-size:32px;
}

 .tarjeta{
        width:45%;  
        margin:1%;
        float:left;
    }

    .contenedor-proyectos{
        width:100%;
        padding:0 5px;
        box-sizing:border-box;
    }

.principal{
padding:20px 0px;
}
.sobre-mi{
padding:20px;
font-size:18px;
}

.foto{
width:150px;
}

  .tarjeta{
        width:100%;
        margin:1%;
        float:left;
    }

.texto p{
font-size:14px;
}

.proyectos h1{
font-size:28px;
}

.footer{
text-align:center;
padding-right:0;
}
}

@media (max-width: 300px){

    .principal{
padding:20px 0px;
max-height: 390px;
}
.texto h1{
font-size:24px;
}

.texto button{
font-size:16px;
padding:8px;
}

 .tarjeta{
       width:100%;
       margin:2%;
       height:auto;
       padding-bottom:20px;
    }

    .tarjeta button{
        position:static;
        transform:none;
        margin-top:10px;
    }

}
