body{
background-color:#e8f6ff;
font-family:Arial;
margin:0;
padding:60px;
}

.widget{
width:420px;
margin:auto;
background:white;
border-radius:15px;
padding:25px;
border:1px solid #cfdde6;
}

.widget h2{
text-align:center;
margin-top:0;
color:#0f4c75;
}

.clima-principal{
text-align:center;
margin-top:10px;
}

.icono{
font-size:70px;
}

.temperatura{
font-size:45px;
color:#ff7a00;
font-weight:bold;
}

.estado{
font-size:18px;
color:#555;
margin-bottom:15px;
}

.info{
width:100%;
overflow:hidden;
margin-top:10px;
}

.dato{
width:30%;
float:left;
margin-left:3%;
background:#f3f9ff;
padding:10px;
border-radius:8px;
text-align:center;
}

.dato h3{
margin:5px;
font-size:14px;
}

.dato p{
margin:5px;
font-size:16px;
font-weight:bold;
}

.mensaje{
margin-top:20px;
background:#fff4e6;
padding:10px;
border-radius:8px;
font-size:14px;
text-align:center;
}